.footer-container
  .foot-1
    ul
      h2 BIGJTV
      li
          i.icon-location
          a
            | Basel Building Mission compound
            br
            |  Udupi Pincode 576101 karnataka, India


  .foot-2
    ul
      li
        i.icon-facebook-circled
        a(href='#') facebook
        i.icon-videocam
        a(href='#') Youtube
        i.icon-twitter-circled
        a(href='#') Twitter

  .foot-3
    ul
      li
        .feed
          h2 Write us your feedback
        .w-contact
           form(action='https://formspree.io/veigasbros@gmail.com', method='POST')
            input(type='text', name='name', placeholder='Name')
            input(type='email', name='_replyto', placeholder='example@domain.com')
            input(type='submit', value='Send')
.footer-term
  ul
    li
      a
        | Terms And Condition
      a
        | Privacy Policy
      a
        | Refund Policy
