input(type="checkbox" name ="menu" id="menu")
.header-section
  header
    .logo
    .item
       ul
          li
            a(href="#") Home
          li
            a(href="#") Live
          li
            a(href="#") Schedules
          li
            a(href="#") Events
          li
            a(href="#") Give
    .copy
      p 2016 Bigjtv All  Rights Reserved.
label(class="icon-menu" for="menu")
  i.icon-menu-outline
