.slide-section
    #slider
      .wrap
        .img(style="background-image: url(assets/img/slide/1.png)")
        .img(style="background-image: url(assets/img/slide/2.png)")
        .img(style="background-image: url(assets/img/slide/3.png)")
        .img(style="background-image: url(assets/img/slide/4.png)")
        .img(style="background-image: url(assets/img/slide/5.png)")
        .img(style="background-image: url(assets/img/slide/6.png)")
