#site_topslider
  // MasterSlider
  #P_MS59a341c841de4.master-slider-parent.ms-parent-id-140
    // MasterSlider Main
    #MS59a341c841de4.master-slider.ms-skin-default
      .ms-slide(data-delay='8', data-fill-mode='fill')
        img(src='assets/css/master/blank.gif', alt='', title='ms-duotones-slider-bg-slide1', data-src='assets/img/slide/hope4.jpg')
        .ms-layer.msp-cn-151-1(style='width:810px;height:454px;', data-ease='easeOutQuint', data-parallax='160', data-offset-x='0', data-offset-y='0', data-origin='mc', data-position='normal')
        .ms-layer.msp-cn-151-4(style='', data-ease='easeOutQuint', data-parallax='130', data-offset-x='-453', data-offset-y='-93', data-origin='mc', data-position='normal')
          | BIGJ TV
        .ms-layer.msp-cn-151-2(style='', data-ease='easeOutQuint', data-parallax='110', data-offset-x='-361', data-offset-y='-5', data-origin='mc', data-position='normal')
          | VISION 2020
          br
          | ACTS 20:20
        .ms-layer.msp-cn-151-3(style='', data-ease='easeOutQuint', data-parallax='90', data-offset-x='-385', data-offset-y='94', data-origin='mc', data-position='normal')
          | VISION 2020 IS A CONCEPTUALIZATION TO MAKE SURE OF GOSPEL
          br
          | TO REACH EVRY SINGLE DOOR-STEPS AROUND NATIONS
      .ms-slide(data-delay='8', data-fill-mode='fill')
        img(src='assets/css/master/blank.gif', alt='', title='ms-duotones-slider-bg-slide1', data-src='assets/img/slide/hope1.jpg')
        .ms-layer.msp-cn-151-5(style='width:810px;height:454px;', data-ease='easeOutQuint', data-parallax='160', data-offset-x='0', data-offset-y='0', data-origin='mc', data-position='normal')
        .ms-layer.msp-cn-151-8(style='', data-ease='easeOutQuint', data-parallax='130', data-offset-x='474', data-offset-y='-93', data-origin='mc', data-position='normal')
          | BIG J TV
        .ms-layer.msp-cn-151-6(style='', data-ease='easeOutQuint', data-parallax='110', data-offset-x='346', data-offset-y='-5', data-origin='mc', data-position='normal')
          | VISION 2020 IS A CONCEPTUALIZATION TO MAKE SURE OF GOSPEL
          br
          | TO REACH EVRY SINGLE DOOR-STEPS AROUND NATIONS
        .ms-layer.msp-cn-151-7(style='', data-ease='easeOutQuint', data-parallax='90', data-offset-x='388', data-offset-y='94', data-origin='mc', data-position='normal')

      .ms-slide(data-delay='8', data-fill-mode='fill')
        img(src='http://www.masterslider.com/wp-content/plugins/masterslider/public/assets/css/blank.gif', alt='', title='ms-duotones-slider-bg-slide1', data-src='assets/img/slide/hope3.jpg')
        .ms-layer.msp-cn-151-9(style='width:810px;height:454px;', data-ease='easeOutQuint', data-parallax='160', data-offset-x='0', data-offset-y='0', data-origin='mc', data-position='normal')
        .ms-layer.msp-cn-151-12(style='', data-ease='easeOutQuint', data-parallax='130', data-offset-x='-453', data-offset-y='-93', data-origin='mc', data-position='normal')
          | --
        .ms-layer.msp-cn-151-10(style='', data-ease='easeOutQuint', data-parallax='110', data-offset-x='-324', data-offset-y='-5', data-origin='mc', data-position='normal')
          |   Apostle Paul says “I have not hesitated to preach anything that would be helpful to you,
          br
          | but have taught you publicly and from house to house”... ACTS 20:20
        .ms-layer.msp-cn-151-11(style='', data-ease='easeOutQuint', data-parallax='90', data-offset-x='-370', data-offset-y='94', data-origin='mc', data-position='normal')
          | In order to learn contemporary dance
          br
          | techniques, click the slide.
    // END MasterSlider Main
  // END MasterSlider
