@charset "UTF-8";
.fil6 {fill:#373435;fill-rule:nonzero}
.fil10 {fill:url(#id3)}
.fil13 {fill:url(#id4)}
.fil12 {fill:url(#id5)}
.fil11 {fill:url(#id6)}
.fil14 {fill:url(#id7)}
.fil3 {fill:url(#id8);fill-rule:nonzero}
.fil0 {fill:url(#id9);fill-rule:nonzero}
.fil7 {fill:url(#id10);fill-rule:nonzero}
.fil8 {fill:url(#id11);fill-rule:nonzero}
.fil5 {fill:url(#id12);fill-rule:nonzero}
.fil2 {fill:url(#id13);fill-rule:nonzero}
.fil4 {fill:url(#id14);fill-rule:nonzero}
.fil1 {fill:url(#id15);fill-rule:nonzero}
.fil15 {fill:url(#id16);fill-rule:nonzero}
.fil9 {fill:url(#id17);fill-rule:nonzero}
