
.icon-facebook-circled:before { content: '\e800'; } /* '' */
.icon-twitter-circled:before { content: '\e801'; } /* '' */
.icon-vcard:before { content: '\e802'; } /* '' */
.icon-home-outline:before { content: '\e803'; } /* '' */
.icon-menu:before { content: '\e804'; } /* '' */
.icon-calendar-alt:before { content: '\e805'; } /* '' */
.icon-stopwatch:before { content: '\e806'; } /* '' */
.icon-th-list:before { content: '\e807'; } /* '' */
.icon-th:before { content: '\e808'; } /* '' */
.icon-videocam:before { content: '\e809'; } /* '' */
.icon-heart-filled:before { content: '\e80a'; } /* '' */
.icon-heart:before { content: '\e80b'; } /* '' */
.icon-location:before { content: '\e80c'; } /* '' */
.icon-comment:before { content: '\e80d'; } /* '' */
.icon-video:before { content: '\e80e'; } /* '' */
.icon-calendar:before { content: '\e80f'; } /* '' */
.icon-play-circled2:before { content: '\e810'; } /* '' */
.icon-play:before { content: '\e811'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-monitor:before { content: '\f032'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-play-circled:before { content: '\f144'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-volume-control-phone:before { content: '\f2a0'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
.icon-youtube:before { content: '\f315'; } /* '' */